.text-input {
    opacity: 70%;
    border: none;
}

.text-input:focus {
    outline: none!important;
}

.text-input:hover {
    opacity: 100%;
}

.relationship-input {
    display: inline;
    text-align: center;
    border-bottom: 2px solid rgb(206, 212, 218);
}

.message-input {
    border-radius: 15px;
}
